

.addcartimage{

width: 30%;
height: 200px;


}

.addcartdiv{

border: 1px solid black;
width: 40%;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
display: flex;
gap: 20px;
justify-content: center;
align-items: center;
margin-top: 500px;


}


.delete{

background-color: red;
width: 80px;
height: 40px;
font-weight: bold;
color: white;
display: flex;
justify-content: center;
align-items: center;
border-radius: 4px;
margin-top: 40px;
margin-bottom: 30px;
margin-left: 40px;

}

.h1{

font-weight: bold;

}

.price{

font-weight: bold;


}


.button{

font-weight: bold;
background-color:black;
margin-left: 10px;
color: white;
width: 40px;
margin-top: 30px;
border-radius: 2px;



}


.totalamount{
    border: 1px solid burlywood;
    border-radius: 6px;

    width: 25%;
    height: 400px;
display: flex;
justify-content: flex-end;
margin-left: 1000px;
margin-top: -200px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.check{

margin-right: 80px;

}

.promocode{


display: flex;
justify-content: space-between;

}


.checkout{
    font-weight: bold;
color: white;
background-color: rgb(116, 243, 190);
width: 90%;
height: 40px;
font-size: 20px;
margin-top: 30px;
border: 1px solid pink;
border-radius: 5px;
}


.input{

border: 2px solid black;
width: 80%;
height: 40px;
border-radius: 3px;


}


.apply{

background-color: aqua;
border: 1px solid black;
border-radius: 3px;
height: 40px;
width: 70px;
font-weight: bold;

}


.Footer{


    margin-top: 100px;

}


.cartpage{


margin-top: -400px;
margin-left: 80px;


}
